/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background-color: rgb(192, 221, 221);
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 780px) {
  .container {
    padding: 0 24px;
  }
}

/* header */

.header {
  position: fixed;
  width: 100%;
  min-height: 100px;
  background-color: rgb(248, 250, 107);
}

.static {
position: static;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-header {
display: none;
}

@media screen and (min-width: 780px) {
.contacts-header {
  display: block;
}
}

/* modal */

.backdrop{
position: fixed;
top: 0;
left: 0;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* main */

.main {
padding-top: 100px;
}
.main-section__first {
  background-color: rgb(97, 160, 255);
}
.main-section__second {
  background-color: rgb(248, 250, 107);
}

.main-container {
  justify-content: space-between;
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 780px) {
  .main-container{
    display: flex;
  }
}

.main-section__box {
  max-width: 400px;
}

.footer {
  background-color: rgb(97, 160, 255);
}

.footer-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}